<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tname</key>
		<string>头条</string>
		<key>url</key>
		<string>headline/T1348647853363</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>娱乐</string>
		<key>url</key>
		<string>list/T1348648517839</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>热点</string>
		<key>url</key>
		<string>list/T1427878984398</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>体育</string>
		<key>url</key>
		<string>list/T1348649079062</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>本地</string>
		<key>url</key>
		<string>list/T1419316531256</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>财经</string>
		<key>url</key>
		<string>list/T1348648756099</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>科技</string>
		<key>url</key>
		<string>list/T1348649580692</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>原创</string>
		<key>url</key>
		<string>list/T1370583240249</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>NBA</string>
		<key>url</key>
		<string>list/T1348649145984</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>画报</string>
		<key>url</key>
		<string>list/T1422935072191</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>社会</string>
		<key>url</key>
		<string>list/T1348648037603</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>历史</string>
		<key>url</key>
		<string>list/T1368497029546</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>军事</string>
		<key>url</key>
		<string>list/T1348648141035</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>哒哒</string>
		<key>url</key>
		<string>list/T1444289532601</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>影视</string>
		<key>url</key>
		<string>list/T1348648650048</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>彩票</string>
		<key>url</key>
		<string>list/T1356600029035</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>中国足球</string>
		<key>url</key>
		<string>list/T1348649503389</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>国际足球</string>
		<key>url</key>
		<string>list/T1348649176279</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>CBA</string>
		<key>url</key>
		<string>list/T1348649475931</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>跑步</string>
		<key>url</key>
		<string>list/T1411113472760</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>手机</string>
		<key>url</key>
		<string>list/T1348649654285</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>数码</string>
		<key>url</key>
		<string>list/T1348649776727</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>移动互联</string>
		<key>url</key>
		<string>list/T1351233117091</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>轻松一刻</string>
		<key>url</key>
		<string>list/T1350383429665</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>云课堂</string>
		<key>url</key>
		<string>list/T1421997195219</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>汽车</string>
		<key>url</key>
		<string>list/T1348654060988</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>房产</string>
		<key>url</key>
		<string>list/T1348654085632</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>家居</string>
		<key>url</key>
		<string>list/T1348654105308</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>游戏</string>
		<key>url</key>
		<string>list/T1348654151579</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>旅游</string>
		<key>url</key>
		<string>list/T1348654204705</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>健康</string>
		<key>url</key>
		<string>list/T1414389941036</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>读书</string>
		<key>url</key>
		<string>list/T1401272877187</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>酒香</string>
		<key>url</key>
		<string>list/T1385429690972</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>教育</string>
		<key>url</key>
		<string>list/T1348654225495</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>亲子</string>
		<key>url</key>
		<string>list/T1397116135282</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>葡萄酒</string>
		<key>url</key>
		<string>list/T1402031665628</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>你照吗</string>
		<key>url</key>
		<string>list/T1432711055315</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>暴雪游戏</string>
		<key>url</key>
		<string>list/T1397016069906</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>漫画</string>
		<key>url</key>
		<string>list/T1444270454635</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>时尚</string>
		<key>url</key>
		<string>list/T1348650593803</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>情感</string>
		<key>url</key>
		<string>list/T1348650839000</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>政务</string>
		<key>url</key>
		<string>list/T1414142214384</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>艺术</string>
		<key>url</key>
		<string>list/T1441074311424</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>值得买</string>
		<key>url</key>
		<string>list/T1420771091297</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>跟贴</string>
		<key>url</key>
		<string>list/T1419315959525</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>段子</string>
		<key>url</key>
		<string>list/T1419316284722</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>图片</string>
		<key>url</key>
		<string>list/T1419316384474</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>博客</string>
		<key>url</key>
		<string>list/T1419386532423</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>论坛</string>
		<key>url</key>
		<string>list/T1419386592923</string>
	</dict>
	<dict>
		<key>tname</key>
		<string>直播</string>
		<key>url</key>
		<string>list/T1433137697241</string>
	</dict>
</array>
</plist>
